body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 20px;
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../public/question.png') no-repeat center center;
  background-size: cover;
  opacity: 0.3;
}

.statement {
  width: 50%;
  padding: 10px;
  margin: 50px 0;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
  cursor: pointer;
}

.correct {
  background-color: #c8f7c5;
}

.wrong {
  background-color: #f7c5c5;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-modal.show {
  display: flex;
}

.popup-content {
  background: white;
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

#popup-img {
  max-width: 100%;
  max-height: 60%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}

.popup-content p {
  font-weight: bold;
  color: #333;
  text-align: center;
}

.popup-content button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #FCDb6d;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #FBDE9E;
}